body {
    background-color: antiquewhite;
    font-family: 'OngleebDaisy';
}

h2 {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-bottom: 2px solid black;
    font-size: 30px;

}

form {
    display: flex;
    flex-direction: column;
    margin: 30px 25%;
    width: 50%;
    font-size: larger;
    gap: 5px;
}

form>button {
    border: 3px solid wheat;
    font-weight: bold;
    background-color: blanchedalmond;
    cursor: pointer;
    font-size: medium;
}


#modify-text {
    background-color: antiquewhite;
    border: 3px solid wheat;
    font-size: larger;
}
